DATABASE_URL=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://cloudcord.xohus.lol/v1/oauth/callback
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
STORECLOUD_ENCRYPTION_KEY=
SESSION_SECRET=
GITHUB_PAT=
